.container {
    background: var(--gradient-blue-purple);
    padding: 36px 48px;
    border: var(--border-width-large) solid var(--color-white);
    border-radius: var(--border-radius-large);
    margin: auto;
    max-width: 600px;
    will-change: transform;
    text-align: center;
}
.container.container-fadein {
    opacity: 0;
    animation: fade-in-from-below 0.25s 0.1s ease forwards;
}
.container.container-translucent {
    border: none;
    border-radius: var(--border-radius-medium);
    background: var(--color-black-translucent);
}

.container.container-sticky {
    align-self: flex-start;
    position: sticky;
    top: 0;
}

.container > .title-h2 {
    margin-bottom: 40px;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.vertical-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    gap: 32px;
}

.grid-container-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 1fr;
    justify-content: center;
    max-width: 1000px;
    margin: auto;

    > .container {
        max-width: none;
        width: 100%;
        height: 100%;
    }
}
