input[type="text"],
input[type="number"] {
    appearance: none;
    outline: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-size: var(--base-font-size);
    background: var(--color-white);
    border: none;
    border-radius: var(--border-radius-medium);
    color: var(--color-black);
    padding: 10px 16px;
    text-transform: uppercase;
    min-width: 0;
}

input[type="checkbox"] {
    appearance: none;
    outline: none;
    width: 24px;
    height: 24px;
    margin: 0;
    background: transparent;
    border: var(--border-width-small) solid var(--color-white-translucent);
    border-radius: var(--border-radius-medium);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;

    // little hack to expand clickable zone
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: -16px;
        border-radius: 100%;
        background: none;
    }

    &:checked {
        background: var(--color-primary);
        border: none;
    }

    &:disabled {
        cursor: default;
    }
}

select {
    appearance: none;
    outline: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-size: var(--base-font-size);
    background: var(--color-white);
    border: none;
    border-radius: var(--border-radius-medium);
    color: var(--color-black);
    padding: 10px 16px;
    text-transform: uppercase;
    min-width: 0;
}
