@use "../base/helper.scss";

.settings-overlay {
    position: absolute;
    top: 30px;
    right: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: none;
}

.settings-button {
    width: 28px;
    height: 28px;
    pointer-events: all;
    cursor: pointer;

    @extend .expand-clickable;
}

.settings-dropdown {
    display: none;
    background: var(--color-black);
    border: var(--border-width-small) solid var(--color-white);
    border-radius: var(--border-radius-medium);
    pointer-events: all;
    margin-top: 8px;
    text-transform: uppercase;
    font-size: var(--small-font-size);
    font-weight: 600;
}
.settings-dropdown[data-active] {
    display: block;
}

.settings-dropdown-entry {
    padding: 12px;
    display: flex;
    align-items: center;

    &[data-link] {
        cursor: pointer;
    }
}
.settings-dropdown-entry:hover,
.settings-dropdown-entry.settings-dropdown-entry-inverted {
    background-color: var(--color-white);
    color: var(--color-black);
}

.settings-dropdown-entry-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}
