/* fira-sans-regular - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/fira-sans-v16-latin-regular.woff2") format("woff2"), url("/fonts/fira-sans-v16-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-500 - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/fira-sans-v16-latin-500.woff2") format("woff2"), url("/fonts/fira-sans-v16-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-500italic - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("/fonts/fira-sans-v16-latin-500italic.woff2") format("woff2"), url("/fonts/fira-sans-v16-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-600 - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/fira-sans-v16-latin-600.woff2") format("woff2"), url("/fonts/fira-sans-v16-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-600italic - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 600;
  src: local(""), url("/fonts/fira-sans-v16-latin-600italic.woff2") format("woff2"), url("/fonts/fira-sans-v16-latin-600italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-700 - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/fira-sans-v16-latin-700.woff2") format("woff2"), url("/fonts/fira-sans-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-700italic - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/fonts/fira-sans-v16-latin-700italic.woff2") format("woff2"), url("/fonts/fira-sans-v16-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-800 - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("/fonts/fira-sans-v16-latin-800.woff2") format("woff2"), url("/fonts/fira-sans-v16-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-800italic - latin */
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 800;
  src: local(""), url("/fonts/fira-sans-v16-latin-800italic.woff2") format("woff2"), url("/fonts/fira-sans-v16-latin-800italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  /* colors */
  --color-primary: rgba(236, 192, 60, 1);
  --color-secondary: rgba(76, 16, 91, 1);
  --color-error: rgba(126, 7, 21, 1);
  --color-black: #181818;
  --color-white: #e6e6e6;
  --color-dark-blue: #0e1339;
  --color-dark-purple: #2c0f34;
  --color-disabled: #4d4d4d;
  --color-white-translucent: rgba(230, 230, 230, 0.8);
  --color-black-translucent: rgba(0, 0, 0, 0.8);
  --color-black-more-translucent: rgba(0, 0, 0, 0.2);
  /* gradients */
  --gradient-blue-purple: linear-gradient(180deg, var(--color-dark-blue) 0%, var(--color-dark-purple) 100%);
  /* borders */
  --border-radius-large: 10px;
  --border-radius-medium: 5px;
  --border-radius-small: 3px;
  --border-width-large: 6px;
  --border-width-medium: 4px;
  --border-width-small: 2px;
  /* font */
  --base-font-size: 22px;
  --small-font-size: 14px;
  --h1-font-size: 82px;
  --h2-font-size: 48px;
  --h3-font-size: 36px;
  /* todo: move hover fx into classes */
  --hover: inset 0px -10px 20px rgba(255, 255, 255, 0.6);
  --hover-dark: inset 0px -10px 20px rgba(255, 255, 255, 0.25);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--base-font-size);
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  background: var(--color-black);
  color: var(--color-white);
  scrollbar-width: thin;
  scrollbar-color: var(--color-black-translucent) var(--color-black-more-translucent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  text-transform: uppercase;
  font-size: var(--small-font-size);
  margin-top: 16px;
}

dd {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

dt:first-child {
  margin: 0;
}

::-webkit-scrollbar {
  background: var(--color-black-more-translucent);
  width: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: var(--color-black-translucent);
}

.text-center {
  text-align: center;
}

.title-h1 {
  font-size: var(--h1-font-size);
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

.title-h2 {
  font-size: var(--h2-font-size);
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

.title-h3 {
  font-size: var(--h3-font-size);
  font-weight: 700;
}

.button {
  appearance: none;
  outline: none;
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-size: var(--base-font-size);
  background: none;
  padding: 16px 36px;
  border-radius: var(--border-radius-medium);
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  box-shadow: var(--hover-dark);
}

.button.button-small {
  font-weight: 700;
  font-size: var(--small-font-size);
}

.button.button-outline {
  padding: 12px 32px;
  border: var(--border-width-small) solid var(--color-white-translucent);
}

.button.button-outline:hover {
  padding: 12px 32px;
  border: var(--border-width-small) solid var(--color-white);
}

.button.button-outline[data-active=true] {
  padding: 14px 34px;
  border: none;
}

.button.button-primary {
  border: none;
  background: var(--color-primary);
  color: var(--color-black);
}

.button.button-primary:hover {
  box-shadow: var(--hover);
}

.button.button-error {
  border: none;
  background: var(--color-error);
}

.button.button-error:hover {
  box-shadow: var(--hover-dark);
}

.button.button-icon {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 59px;
}

.button.button-icon:hover {
  padding: 0;
}

.button.button-icon-inline {
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button.button-icon-inline:hover {
  padding: 8px;
}

.button[data-active=true] {
  background: var(--color-white);
  color: var(--color-black);
}

.button:disabled {
  background: var(--color-disabled);
}

.button:disabled:hover {
  box-shadow: none;
}

input[type=text],
input[type=number] {
  appearance: none;
  outline: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-size: var(--base-font-size);
  background: var(--color-white);
  border: none;
  border-radius: var(--border-radius-medium);
  color: var(--color-black);
  padding: 10px 16px;
  text-transform: uppercase;
  min-width: 0;
}

input[type=checkbox] {
  appearance: none;
  outline: none;
  width: 24px;
  height: 24px;
  margin: 0;
  background: transparent;
  border: var(--border-width-small) solid var(--color-white-translucent);
  border-radius: var(--border-radius-medium);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
input[type=checkbox]:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -16px;
  border-radius: 100%;
  background: none;
}
input[type=checkbox]:checked {
  background: var(--color-primary);
  border: none;
}
input[type=checkbox]:disabled {
  cursor: default;
}

.skewed-tag {
  display: inline-block;
  position: relative;
  padding: 4px 16px;
  color: var(--color-black);
  font-size: var(--small-font-size);
  font-weight: 700;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 0;
}

.skewed-tag:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-white);
  border-radius: var(--border-radius-small);
  transform: skewX(-7.5deg);
  will-change: transform;
  z-index: -1;
}

.skewed-tag.skewed-tag-big {
  font-size: var(--base-font-size);
  font-weight: 800;
}

.skewed-tag.skewed-tag-primary:before {
  background: var(--color-primary);
}

.skewed-tag.skewed-tag-error {
  color: var(--color-white);
}

.skewed-tag.skewed-tag-error:before {
  background: var(--color-error);
}

.skewed-tag.tag-ready {
  width: 120px;
}

.container {
  background: var(--gradient-blue-purple);
  padding: 36px 48px;
  border: var(--border-width-large) solid var(--color-white);
  border-radius: var(--border-radius-large);
  margin: auto;
  max-width: 600px;
  will-change: transform;
  text-align: center;
}

.container.container-fadein {
  opacity: 0;
  animation: fade-in-from-below 0.25s 0.1s ease forwards;
}

.container.container-translucent {
  border: none;
  border-radius: var(--border-radius-medium);
  background: var(--color-black-translucent);
}

.container.container-sticky {
  align-self: flex-start;
  position: sticky;
  top: 0;
}

.container > .title-h2 {
  margin-bottom: 40px;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.vertical-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  gap: 32px;
}

.grid-container-wrapper {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}
.grid-container-wrapper > .container {
  max-width: none;
  width: 100%;
  height: 100%;
}

.multiple-container-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1000px;
  margin: auto;
}

.multiple-container-wrapper > .container,
.multiple-container-wrapper > .list-container {
  margin: 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black-translucent);
  will-change: transform;
  /* opacity: 0; */
  display: none;
}

.overlay-container[data-active=true] {
  display: flex;
  animation: fade-in-blur 0.2s ease forwards;
}

@keyframes fade-in-blur {
  0% {
    backdrop-filter: blur(0);
    /* opacity: 0; */
  }
  100% {
    backdrop-filter: blur(10px);
    /* opacity: 1; */
  }
}
@keyframes fade-in-from-below {
  0% {
    transform: translateY(10%) scale(0.925);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}

.title-bar > .title-h1 {
  font-size: var(--h2-font-size);
  flex: 1;
  margin-left: auto;
}

.title-bar > .title-bar-spacer {
  flex: 1;
  margin-right: auto;
}

.tab-menu {
  display: flex;
  flex-direction: row;
}

.tab-menu-entry {
  position: relative;
  padding: 8px 0;
  margin: 0 40px;
  color: var(--color-white);
  font-size: var(--base-font-size);
  font-weight: 700;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.tab-menu-entry[data-active=true] {
  color: var(--color-black);
  padding: 8px 40px;
  margin: 0 0;
}

.tab-menu-entry[data-active=true]:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-white);
  border-radius: var(--border-radius-medium);
  transform: skewX(-7.5deg);
  will-change: transform;
  z-index: -1;
}

/** specific for title bar */
.title-bar .tab-menu {
  margin: auto;
  padding: 0 16px;
}

.playerlist {
  list-style: none;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  min-width: 250px;
}

.playerlist-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 12px;
}

.playerlist-entry .skewed-tag.tag-ready {
  width: 120px;
  margin-left: 12px;
}

.playerlist.playerlist-scoreboard {
  min-width: 0;
}

.playerlist-entry .skewed-tag.tag-score {
  width: 4rem;
  margin-left: 16px;
}

.combined-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.combined-form > input[type=text] {
  padding-right: 48px;
  max-width: 250px;
}

.combined-form > .button {
  margin-left: -32px;
}

.stacked-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.stacked-form > input[type=submit] {
  margin-top: 8px;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.dialog-content {
  display: flex;
}

.list {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  gap: 8px;
}

.list .list-row {
  display: flex;
  gap: 8px;
}

.list-row-header,
.list-row-entry {
  text-transform: uppercase;
  text-align: left;
  color: var(--color-white);
  padding: 18px 32px;
  flex: 1 1 auto;
}

.list-row-header:not(:first-child) {
  margin-top: 24px;
}

.list-row-entry {
  background: var(--color-black-translucent);
  border-radius: var(--border-radius-medium);
}
.list-row-entry.setting-row-entry {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 64px;
}
.list-row-entry.setting-row-entry .setting-row-entry-label {
  margin-right: auto;
}

.list-entry-label {
  margin-right: auto;
}

.settings-overlay {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
}

.settings-button {
  position: relative;
  width: 28px;
  height: 28px;
  pointer-events: all;
  cursor: pointer;
}
.settings-button:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -8px;
  border-radius: 100%;
  background: none;
}

.settings-dropdown {
  display: none;
  background: var(--color-black);
  border: var(--border-width-small) solid var(--color-white);
  border-radius: var(--border-radius-medium);
  pointer-events: all;
  margin-top: 8px;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: 600;
}

.settings-dropdown[data-active] {
  display: block;
}

.settings-dropdown-entry {
  padding: 12px;
  display: flex;
  align-items: center;
}
.settings-dropdown-entry[data-link] {
  cursor: pointer;
}

.settings-dropdown-entry:hover,
.settings-dropdown-entry.settings-dropdown-entry-inverted {
  background-color: var(--color-white);
  color: var(--color-black);
}

.settings-dropdown-entry-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.screen-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  width: 100vw;
  height: 100%;
  overflow: auto;
  will-change: transform;
  padding: 30px;
}

.screen > .title-h1 {
  font-size: var(--h2-font-size);
}

.screen > .bottom-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.screen > .bottom-container.align-right {
  justify-content: flex-end;
}

.screen[data-screen-active=cur] {
  animation: slide-in-right 0.25s ease forwards;
}

.screen[data-screen-active=cur-left] {
  animation: slide-in-left 0.25s ease forwards;
}

.screen[data-screen-active=cur-fade] {
  animation: slide-in-top 0.25s ease forwards;
}

.screen[data-screen-active=prev] {
  animation: slide-out-right 0.25s ease forwards;
}

.screen[data-screen-active=prev-left] {
  animation: slide-out-left 0.25s ease forwards;
}

.screen[data-screen-active=prev-fade] {
  animation: slide-out-top 0.25s ease forwards;
}

.screen[data-screen-active=next] {
  transform: translateX(100vw);
}

.screen[data-screen-overlay=true] {
  background: var(--color-black);
  z-index: 99;
}

.screen .content-wrapper {
  overflow-y: auto;
  max-height: 100%;
  margin: 24px 0;
}

.screen [data-inactive=true] {
  display: none;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-out-top {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.screen.gradient-bg-screen {
  background: var(--gradient-blue-purple);
}

.login-logo {
  height: 324px;
  margin-bottom: 96px;
}
.login-logo > img {
  height: 100%;
}

.question-wrapper {
  margin: auto;
  max-width: 860px;
}

.container.question-container {
  max-width: 860px;
  width: 860px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-image-container {
  overflow: hidden;
  border-radius: var(--border-radius-medium);
  margin: 12px 0 24px;
  height: 300px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23e6e6e6'%3E%3Cpath d='M21,3V15.5A3.5,3.5 0 0,1 17.5,19A3.5,3.5 0 0,1 14,15.5A3.5,3.5 0 0,1 17.5,12C18.04,12 18.55,12.12 19,12.34V6.47L9,8.6V17.5A3.5,3.5 0 0,1 5.5,21A3.5,3.5 0 0,1 2,17.5A3.5,3.5 0 0,1 5.5,14C6.04,14 6.55,14.12 7,14.34V6L21,3Z' /%3E%3C/svg%3E");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.question-image {
  height: 300px;
  -webkit-user-drag: none;
  pointer-events: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
  transform: scale(1);
  opacity: 1;
}

.question-image[data-blurred=true] {
  /* filter: blur(100px); */
  visibility: hidden;
  transform: scale(0.8);
  opacity: 0;
}

.question-title {
  margin-bottom: 16px;
}

.tag-question-number {
  position: absolute;
  top: -20px;
}

.question-timer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 16px;
  background: var(--color-white);
  transform: scaleX(1);
  transform-origin: left;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  list-style: none;
  list-style-type: none;
  margin: 24px 0 0 0;
  padding: 0;
  gap: 16px;
}

.answers > li {
  display: flex;
  position: relative;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-size: var(--base-font-size);
  background: none;
  border-radius: var(--border-radius-medium);
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  padding: 32px;
  border: var(--border-width-medium) solid var(--color-white-translucent);
  max-height: 128px;
}

.answers > li[data-answer-selected=true] {
  border: none;
  padding: 36px;
  background: var(--color-white);
  color: var(--color-black);
}

.answers > li[data-answer-correct=true] {
  border: none;
  padding: 36px;
  background: var(--color-primary);
  color: var(--color-black);
}

.answers > li[data-answer-correct=false] {
  border: none;
  padding: 36px;
  background: var(--color-error);
  color: var(--color-white);
}

.answer-others-container {
  position: absolute;
  bottom: -6px;
  left: 0;
  z-index: 1;
  display: flex;
  gap: 4px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}

.skewed-tag.answer-others {
  max-width: 4rem;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 8px;
}

.answer-others > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lobby-container-wrapper {
  height: 100%;
  overflow: hidden;
}

.lobby-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: stretch;
}

.lobby-container > .lobby-title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: var(--base-font-size);
  font-style: italic;
  text-align: center;
}

.list.lobby-playerlist {
  max-width: 600px;
  height: 100%;
  overflow-y: auto;
}
.list.lobby-playerlist .player-row-entry {
  display: flex;
  justify-content: center;
}
.list.lobby-playerlist .player-row-entry-empty {
  color: var(--color-disabled);
}
.list.lobby-playerlist .player-name {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.list.lobby-playerlist .player-icons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.list.lobby-playerlist .player-icon {
  width: 24px;
  height: 24px;
}
.list.lobby-playerlist .player-row-more {
  flex: 0 1 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.list.lobby-playerlist .player-row-more > svg {
  width: 28px;
  height: 28px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.lobby-settings {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.lobby-settings-wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.lobby-settings-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 0 0 50%;
}

.lobby-settings-actions {
  margin: auto;
}

.game-setting-entry {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.game-setting-title {
  margin-bottom: 16px;
}

.game-setting-list {
  max-height: 300px;
  overflow-y: auto;
}

.game-setting-list::-webkit-scrollbar {
  background: var(--color-black);
  border-radius: var(--border-radius-medium);
  width: 8px;
}

.game-setting-list::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: var(--border-radius-medium);
}

.game-setting-list > .game-setting-title {
  margin-bottom: 8px;
}

.game-setting-list-option {
  display: flex;
  align-items: center;
  margin: 8px 0;
  cursor: pointer;
  text-transform: none;
  font-weight: 600;
}

.game-setting-list-option > input {
  margin-right: 12px;
}

.game-setting-double {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.game-setting-double > input {
  flex: 1 1 auto;
}

/** elements */
/** screens */
/* specific implementations */

/*# sourceMappingURL=style.css.map */
