http://localhost:8080 {
    @websockets {
        header Connection *Upgrade*
        header Upgrade    websocket
    }
    reverse_proxy @websockets game-server:8081
    root * /serve
    file_server
}

http://media.localhost:8080 {
    root * /openings
    file_server
}