.tab-menu {
    display: flex;
    flex-direction: row;
}
.tab-menu-entry {
    position: relative;
    padding: 8px 0;
    margin: 0 40px;
    color: var(--color-white);
    font-size: var(--base-font-size);
    font-weight: 700;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}
.tab-menu-entry[data-active="true"] {
    color: var(--color-black);
    padding: 8px 40px;
    margin: 0 0;
}
.tab-menu-entry[data-active="true"]:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--color-white);
    border-radius: var(--border-radius-medium);
    transform: skewX(-7.5deg);
    will-change: transform;
    z-index: -1;
}

/** specific for title bar */

.title-bar .tab-menu {
    margin: auto;
    padding: 0 16px;
}
